<% content_for :punchline do -%>
<div style="color:white;"><h1>New album</h1>
 Upload a Cover </div>
<% end %>
<%= form_for :upload, url: wizard_path, :method => :put, :multipart => true do |f| %>

  <div class="field">
    <h2><%= f.label :artist %></h2>
    <%= @album.artist.name%>
</div>
<div class="field">
    <h2><%= f.label :genre %></h2>
    <%= @genre.name %>
</div>
  <div class="field">
    <h2><%= f.label :name %></h2>
    <%= @album.name %>
  </div>
<div class="field">
  <h2>Cover</h2>
  <%= f.file_field :cover %>
</div>
<%= link_to_submit image_tag("guitar.gif",  :size => "100x50") %>
<%= link_to image_tag("back-arrow.png", :size => "40x40"), :back %>
<% end %>
